

.button{
    margin-top: 0.6rem;
    height: 3.1rem;
    border-radius: 0.4rem;
    font-family: 'poppins', sans-serif;
    font-weight:700;
    background-color: #4130FD;
    color: white;
    cursor: pointer;
    border:0;
    padding: 0 2.8rem;
    
    &.outlined{
        background-color: #fff;
        border:1px solid #4130FD;
        color:#4130FD;
    }
    
    & :hover{
        filter: brightness(0.9);
    }
    
    
}
