

.button{
    margin-top: 0.6rem;
    height: 3.1rem;
    border-radius: 0.4rem;
    font-weight:500;
    background-color: #06f;
    color: white;
    cursor: pointer;
    border:0;
    padding: 0 2.8rem;
    
    &.outlined{
        background-color: #fff;
        border:1px solid #06f;
        color:#06f;
    }
    
    & :hover{
        filter: brightness(0.9);
    }
    
    
}
