.room-code{
    height: 2.5rem;
    border-radius: 9999px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #06f;
    cursor: pointer;
    display: flex;
 


    div{
        border-radius: 9999px;
        background-color: #06f;
        padding: 0 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        
    }

    span{
            display: block;
            align-self: center;
            flex: 1;
            padding: 0 1rem 0 0.7rem;
            width: 14rem;
            font-size: 0.8rem;
            font-weight: 500;
    }
}